@import '../../variables';

/* MAIN ARTIST */
main.artist {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  section {
    display: grid;
    grid-template-columns: 80px auto;
    margin: 0.75rem 5%;

    div {
      
      img {
        width: 100%;
        clip-path: circle(40px at center);
        -webkit-clip-path: circle(40px at center);
      }

      &:nth-child(2) {
        align-self: center;
        padding-left: 5%;
      }
    }

  }
}

@media only screen and (min-width: $mediumScreen) {
  main.artist {
    grid-template-columns: 1fr 1fr;
  }
}
