<!-- index.html in non-Angular version -->
<div class="">
  <!-- PAGE HEADER GOES HERE -->
  <header>
    <h1>Album</h1>
  </header>

  <!-- PAGE CONTENT GOES HERE -->
  <main class="album">

    <figure>
      <a [routerLink]="['/player']">
        <img src="assets/a_beach200.jpg" srcset="assets/a_beach200.jpg 1x, assets/a_beach400.jpg 2x"/>
      </a>
      <figcaption>On the Beach</figcaption>
    </figure>


  </main>

  <!-- PAGE NAVIGATION GOES HERE (unless in separate Angular component -->
</div>
