$primary: #553285;
$secondary: #36175E;
$ltgrey: #D3D3D3;
$dkgrey: #666;
$black: #000;
$activeLink: #D5D5D5;

$text: $secondary;

$defaultFont: 'Source Sans Pro', sans-serif;

$normal: 400;
$bold: 700;

$gutter: 2%;

$mediumScreen: 29rem;
